*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    display: flex;
    justify-content: center;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: lightblue;
    max-width: 1200px;
}

main header{
    padding: 10px;
    padding-left: 40px;
    text-align: left;
    border-bottom: solid ;
    margin-bottom: 40px;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    padding: 1rem;
    overflow-y: auto;
    overflow-x: hidden;

}

.grid-items{
    text-align: center;
    margin-bottom: 60px;
    border: black solid;
    margin: 10px;
    border-radius: 25px;
    padding-bottom: 10px;
}

.grid-items .product_title{
    font-size: 24px;
}

.grid-items .product_price{
    color: red;
    font-size: 34px;
    padding: 8px;
}

.text-margin{
    margin-left: 10px;
    margin-right: 10px;

}

.grid-items img{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}